.textZone::-webkit-scrollbar {
  display: none;
}
.textZone {
  scroll-behavior: smooth;
  height: 80vh;
  background-color: aliceblue;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  ul li {
    white-space: normal;
    word-wrap: break-word;
  }
  ul {
    list-style: none;
    padding-right: 40px;

    li {
      flex: 1;
      display: flex;
    }
  }
}
.mensaje {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 1vh;
  background-color: whitesmoke;
  box-shadow: 0px 2px 10px -3px #000000;
  border-radius: 1vh;
  margin-top: 1vh;
  border-top-left-radius: 1vh;

  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  .timestamp {
    display: flex;
    color: silver;
    font-size: 1vh;
    margin-left: 1vh;
    align-items: flex-end !important;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    word-break: keep-all !important;
  }
  .mensajePrincipal {
    display: flex;
    margin: 0;
    align-items: center;
    max-width: 30vh;
  }
}
