.textZone {
  height: 80vh;
  background-color: chocolate;
  overflow-y: scroll;
  ul li {
    word-break: break-all;
    white-space: normal;
  }
  ul {
    list-style: none;
    li {
      flex: 1;
      display: flex;
    }
  }
}
.mensaje {
  display: flex;
  flex-direction: row;
  width: fit-content;
  .timestamp {
    display: flex;
    color: silver;
    font-size: 1vh;
    margin-left: 1vh;
    align-items: flex-end !important;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    word-break: keep-all !important;
  }
  .mensajePrincipal {
    display: flex;
    margin: 0;
    align-items: center;
    max-width: 30vh;
  }
}
